<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/mainpage.js}"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>

	<h2>
		welcome main page
	</h2>
	
	<form action="/login" onsubmit="return finduser()" method="post">
		<div>
			<span>아이디 : </span>
			<input id="username" name="username">
		</div>
		
		<div>
			<span>비밀번호 : </span>
			<input id="password" type="password" name="password">
		</div>
		
		<button type="submit">로그인</button>
	
	</form>
	
	<a href="/signup">계정 등록</a>

</body>
</html>